= form_for [@department, @employee] do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
      %ul
        - @employee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :ci
    = f.number_field :ci
  .field
    = f.label :movil
    = f.number_field :movil
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :bank_name
    = f.text_field :bank_name
  .field
    = f.label :bank_type
    = f.number_field :bank_type
  .field
    = f.label :bank_account
    = f.number_field :bank_account
  .field
    = f.label :phone1
    = f.number_field :phone1
  .field
    = f.label :phone2
    = f.number_field :phone2
  .actions
    = f.submit 'Save'
