.container
  .row.p-2
    .col-9
      barra de busqueda
    .col-1
      submit
    .col-2.justify-content-center
      = link_to "Cerrar sesión", destroy_company_session_path, method: :delete
  .row.justify-content-center
    .col-12
      %p#notice= notice
    .col-7
      .d-inline
        .div
          =link_to departments_path do
            %i.fas.fa-chevron-left.fa-2x 
          Empleados de
          = @department.name
      -if @employees.empty?
        
        %h1 no hay empleados
      -else
        %table.table.border
          %thead
            %tr
              %th Cedula
              %th  Nombre
              %th  Celular
              %th  Acciones  
          %tbody
            - @employees.each do |employee|
              %tr
                %td= employee.ci
                %td 
                  = employee.name
                  = employee.lastname 
                %td= employee.movil
              
                
                %td.text-center
                  
                  = link_to edit_department_employee_path(@department, employee) do
                    %i.fas.fa-pencil-alt
                  = link_to [@department, employee], method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.fas.fa-trash.text-danger

    .col-5
      .border.p-4
        = render 'form'
