%p#notice= notice

%p
  %b Name:
  = @employee.name
%p
  %b Lastname:
  = @employee.lastname
%p
  %b Ci:
  = @employee.ci
%p
  %b Movil:
  = @employee.movil
%p
  %b Email:
  = @employee.email
%p
  %b Bank name:
  = @employee.bank_name
%p
  %b Bank type:
  = @employee.bank_type
%p
  %b Bank account:
  = @employee.bank_account
%p
  %b Phone1:
  = @employee.phone1
%p
  %b Phone2:
  = @employee.phone2

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path
