.container
  .row.mt-5.justify-content-center
    .col-4  
      .row  
        .col-12
          .card.p-4
            .row
              .col-12
                
                = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                  = devise_error_messages!
                  .form-group
                    %h3.text-center Registro de compañias
                    = f.label :email, class: "text-left"
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

                  .form-group
                    = f.label :password, class: "text-left"
                    - if @minimum_password_length
                      %em
                        (#{@minimum_password_length} characters minimum)
                    = f.password_field :password, autocomplete: "off", class: "form-control"
                    
                  .form-group
                    = f.label :password_confirmation, class: "text-left"
                    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
                  .actions
                    = f.submit "Registrarse", class: "col btn btn-primary mt-4"
                = link_to "Ingresar", new_session_path(resource_name)

