= form_for @department do |f|
  - if @department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
      %ul
        - @department.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name  
  .actions
    = f.submit 'Save'
