.container
  .row.p-2
    .col-9
      barra de busqueda
    .col-1
      submit
    .col-2.justify-content-center
      = link_to "Cerrar sesión", destroy_company_session_path, method: :delete
  .row.justify-content-center
    .col-12
      %p#notice= notice
    .col-7
      -if @departments.empty?
        
        %h1 no hay departamentos
      -else
        %table.table.border
          %thead
            %tr
              %th Nombre del departamento
              %th Cantidad de empleados
              %th Acciones

          %tbody
            - @departments.each do |department|
              %tr
                %td= department.name
                %td
                  =@employees.where(:department_id => department.id).length
                %td
                  = link_to 'Add', department_employees_path(:department_id => department.id)
                  = link_to 'Edit', edit_department_path(department)
                  = link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }
    .col-5
      .border
        = render 'form'

    -# %br
    -# = link_to 'New Department', new_department_path
