.container
  .row.mt-5.justify-content-center
    .col-4  
      .row  
        .col-12
          .card.p-4
            .row
              .col-12
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  .form-group
                    %h3.text-center Iniciar sesión
                    = f.label "Correo Electronico", class: "text-left"
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

                  .form-group
                    = f.label :Contraseña, class: "text-left"
                    = f.password_field :password, autocomplete: "off", class: "form-control"


                  - if devise_mapping.rememberable?
                    .field
                      = f.check_box :remember_me
                      = f.label :recuerdame
                  .actions
                    = f.submit "Ingresar", class: "col btn btn-primary mt-4"
                = link_to "Registro", new_registration_path(resource_name)
